/* In your custom.css file */



.dashboard-container {
    padding: 10px;
    background-color: #233a53;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0px 0px 10px #888888;
}

.dashboard-header {
    text-align: center;
    font-family: 'Segoe UI';
    color: #FFFFFF;
}

.heroku-app-container {
    width: 100%;
    max-width: 100%;
}

.heroku-app-container iframe {
    width: 100%;
    height: 600px; /* Sie können die Höhe nach Bedarf anpassen */
}




/* Buttons: */
.signal-button {
    background-color: #233a53;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    font-weight: bold;
    font-family: 'Segoe UI';
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Additional classes for other button states or colors if needed */
.signal-button.red {
    background-color: #FF4136;
}
.signal-button.green {
    background-color: #2ECC40;
}